<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPerfect Homepage</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>

<body class="antialiased font-sans bg-gray-100">
  <header class="fixed top-0 left-0 right-0 z-50 bg-opacity-75">
    <div class="container mx-auto px-4 py-2 flex items-center justify-between">
      <a href="#" class="font-semibold text-xl text-indigo-600">ProjectPerfect</a>
      <button class="bg-indigo-600 text-white font-semibold px-6 py-2 rounded-md">Login</button>
    </div>
  </header>

  {{{ body }}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.js"></script>
    <script src="/js/chatBot.js"></script>
</body>

</html>