
{{#each documents as |document|}}

<div class="card card-compact w-120 bg-base-100 shadow-xl">
  <div class="card-body">
        <div class="w-10 rounded-full">
      <img src="../assets/images/avatars/avatar-pic-2.png" />
    </div>
    <h2 class="card-title">By {{user.name}}:</h2>
    
    <p>{{document_text}}</p>
    <div class="card-actions justify-end">
     <a href='/post/question/{{id}}'> 
      <button class="btn btn-primary"> View Post </button>
    </a>
    </div>
  </div>
</div>
{{/each}}