{{#each documents as |document|}}
<h2>Hello</h2>
{{/each}}
{{#each questions as |question|}}
<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">By {{user.name}}:</h2>
    <p>{{question_text}}</p>
    <div class="card-actions justify-end">
     <a href='/post/question/{{id}}'> 
      <button class="btn btn-primary"> Add Comment </button>
    </a>
    </div>
  </div>
</div>
{{/each}}