{{#each documents as |document|}}
<h2>Hello</h2>
{{/each}}
{{#each questions as |question|}}

<div class="card card-compact bg-base-100 shadow-xl">
  <div class="card-body">
        <div class="w-10 rounded-full">
      <a href='/profile/user/{{user_id}}'><img src="https://picsum.photos/id/237/600/600"></a>
    </div>
    <h2 class="card-title">By {{user.name}}:</h2>
    <p>{{question_text}}</p>
    <div class="card-actions justify-end">
     <a href='/post/question/{{id}}'> 
      <button class="btn btn-primary"> View Post </button>
    </a>
    </div>
  </div>
</div>
{{/each}}