<form>
    <input type="file" class="file-input file-input-bordered file-input-info w-full max-w-xs" />
    <div class="dropdown">
    <label tabindex="0" class="btn m-1">Industry/Field</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Accomodation and Food Services</a></li>
            <li><a>Administration</a></li>
            <li><a>Agriculture, Forestry, Fishing and Hunting</a></li>
            <li><a>Arts, Entertainment and Recreation</a></li>
            <li><a>Construction</a></li>
            <li><a>Education</a></li>
            <li><a>Finance and Insurance</a></li>
            <li><a>Healthcare</a></li>
            <li><a>Industrial Machinery</a></li>
            <li><a>Information</a></li>
            <li><a>Manufacturing</a></li>
            <li><a>Mining</a></li>
            <li><a>Scientific and Technical Services</a></li>
            <li><a>Real Estate</a></li>
            <li><a>Retail</a></li>
            <li><a>Technology</a></li>
            <li><a>Transportation</a></li>
            <li><a>Utilities</a></li>
            <li><a>Wholesale</a></li>
        </ul>
    </div>
    <input type="submit" value="Submit" class="btn" />
  </form>

<script src="./js/profile.js"></script>